.three {

	#output {

	}

	.title {
		font-size: 1.25em;
		margin: 0 0 4px 0;
	}

	.capital {
		font-size: 0.9em;
		margin: 2px 0;
	}

	.population {
		font-size: 0.9em;
		margin: 2px 0;
	}

	.flag {

	}

	.row {
		border: 1px solid black;
		padding: 10px;
		border: 1px solid gray;
		width: 300px;
		margin: 0 5px 5px  0;
		display: inline-block;
	}

}
